@model SrinivasaERP.Models.Register
@{
    ViewBag.Title = "Register";
}
<html>
<head>
    <style>
        input {
            padding-left: 15px;
            height: 40px;
            width: 300px;
            border-radius: 8px;
        }

        button {
            background-color: rgb(0, 110, 255);
            color: white;
            height: 40px;
            width: 300px;
            border-radius: 8px;
        }

        tr {
            height: 65px;
        }
    </style>
</head>
<body align="center">
    <h1 align="center">User Registration</h1>
    @using (Html.BeginForm("Register", "Home", FormMethod.Post))
    {
        <table align="center">
            <tr>
                <td>@Html.LabelFor(m => m.Name)</td>
                <td>
                    @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name", minlength = "2", maxlength = "25" })
                    @Html.ValidationMessageFor(m => m.Name)
                </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(m => m.Surname)</td>
                <td>
                    @Html.TextBoxFor(m => m.Surname, new { @placeholder = "Surname", minlength = "1", maxlength = "25" })
                    @Html.ValidationMessageFor(m => m.Surname)
                </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(m => m.Phone)</td>
                <td>
                    @Html.TextBoxFor(m => m.Phone, new { @placeholder = "Phone", maxlength = "13" })
                    @Html.ValidationMessageFor(m => m.Phone)
                </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(m => m.Email)</td>
                <td>
                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", type = "email" })
                    @Html.ValidationMessageFor(m => m.Email)
                </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(m => m.UserID, "User ID")</td>
                <td>
                    @Html.TextBoxFor(m => m.UserID, new { @placeholder = "User ID", pattern = "^[A-Z]{3}[0-9]{4}$" })
                    @Html.ValidationMessageFor(m => m.UserID)
                </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(m => m.Password)</td>
                <td>
                    @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", pattern = "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[@$!%*?&]).{8,12}$" })
                    @Html.ValidationMessageFor(m => m.Password)
                </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
                <td>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </td>
            </tr>


            <tr>
                <td></td>
                <td><button type="submit">Register</button></td>
            </tr>
        </table>
    }


</body>
</html>
